@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&display=swap');

:root{
     /* Font */
    --Raleway:"Raleway", serif ;

    /* Color*/
    --Cor1: #000;
}


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--Raleway);
}

